<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@drawable/paella"
        android:label="Receptes"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Receptes.LlistatReceptesActivity"
            android:label="Les meves receptes"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Receptes.ReceptaActivity" />
        <activity
            android:name=".Receptes.EditReceptaActivity"
            android:label="Modifica la recepta"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SplashActivity"
            android:label="">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Receptes.IngredientsSubstitutsActivity"
            android:label="Ingredients Substituts"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Receptes.EditIngredientsSubstitutsActivity"
            android:label="Edita Substituts" />
        <activity android:name=".Proves" />
        <activity android:name=".Receptes.FotoGrossaActivity" />
        <activity
            android:name=".Menus.MenuActivity"
            android:label="Menu" />

        <receiver android:name=".Widget.Widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <service
            android:name=".Widget.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity android:name=".Menus.CreaMenuActivity" />
        <activity android:name=".Menus.AfegirReceptesMenuActivity" />
        <activity android:name=".Menus.ModificaMenuActivity" />
        <activity android:name=".Menus.LlistatMenusActivity"></activity>
    </application>

</manifest>